#searchinput {
    width: 500px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

div .span{
    background-color:red!important;
}


div .panel{
    background-color:lightcyan;
}

div .jumbotron{
    background-color:bisque;
}

div .ng-scope {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    background-color:transparent!important;
}

div .row{
    padding-top: 10px;
    padding-bottom: 10px;
        
}